<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
      <center><h5 class="modal-title fw-bold" id="staticBackdropLabel">Create New Expenses Category</h5></center>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center>
          <form id="myForm" name = 'form1' action="" method="POST" autocomplete="off" onsubmit="click1()">
            {{form1.hidden_tag()}}
            {{form1.csrf_token}}
            {% if form1.category.errors %}
                {% for error in form1.category.errors %}
                 <span class="text-danger">{{error}}</span>
                 <br>
                {% endfor %}
            {% endif %}
            {{form1.category(class='cls',placeholder="Administrative Expense", style ='border-radius:1%;', id = 'category1')}}
          <br>
          {{form1.exp_submit(style = 'margin-top:1%;', class='rounded-pill bg-success text-warning fw-bold', id = 'btn11')}}
        </form>
        </center>
      </div>
    </div>
  </div>
</div>


